{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{% block title %}Ferguson Bequest{% endblock %}</title>

  <!-- Base / shared styles -->
  <link rel="stylesheet" href="{% static 'fergusonbequest/css/base.css' %}">

  {% block extra_css %}{% endblock %}
  <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>

<header class="fb-header">
  <div class="fb-header__left">
    <img class="fb-header__logo"
         src="{% static 'fergusonbequest/img/unilogo.svg' %}"
         alt="University of Glasgow">

    <span class="fb-header__divider" aria-hidden="true"></span>

    <a href="/" class="fb-header__brand">Ferguson Bequest</a>
  </div>

  <nav class="fb-header__nav" aria-label="Primary">

    <a href="#">Attractions</a>
    <a href="#">Ticket Draws</a>

    {% if user.is_authenticated %}
      <a href="#">Booking History</a>
      <a href="/dashboard/">Dashboard</a>
      <a href="{% url 'logout' %}">Logout</a>
    {% else %}
      <a href="{% url 'login' %}">Login</a>
      <a href="{% url 'register' %}">Register</a>
    {% endif %}

    <a href="#">How to book</a>
  </nav>
</header>


<main class="fb-container">
  {% block content %}{% endblock %}
</main>

<footer class="fb-footer">
  <div class="fb-footer__inner">
    For queries, contact <a href="mailto:fergusonbequest@glasgow.ac.uk" style="color:#CCCCCC; text-decoration:underline;">fergusonbequest@glasgow.ac.uk</a> 
    or 
    visit <a href="https://www.gla.ac.uk/myglasgow/courtoffice/fergusonbequest/" style="color: #CCCCCC; text-decoration: underline;"> University of Glasgow – Ferguson Bequest</a>
  </div>
</footer>

</body>
</html>
