{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ferguson Bequest</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #fdfdfd;
            color: #333;
            text-align: center;
            padding: 40px;
        }
        header {
            background-color: #cf712f;
            color: white;
            padding: 15px;
            border-radius: 8px;
        }
    </style>
    <link rel="stylesheet" href="{% static 'fergusonbequest/css/app.css' %}">
</head>
<body>
    <header>
        <img src="{% static 'fergusonbequest/img/unilogo.svg' %}" alt="UofG logo">
        <h1>Welcome to the Ferguson Bequest System</h1>
    </header>
    <p>This is your homepage. 🎟️</p>
</body>
</html>
