{% extends "fergusonbequest/base.html" %}
{% load static %}

{% block title %}Home – Ferguson Bequest{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'fergusonbequest/css/home.css' %}">
{% endblock %}

{% block content %}

<div class="terms-container">

    <h1>Terms &amp; Conditions</h1>

    <p><strong>Before Staff apply for Attraction Tickets and Ticket Draws, they should be aware of the T&amp;Cs:</strong></p>

    <p>
        Attraction and Ticket Draws are available to any member of staff of the University, holding a contract of employment with the University.
        This does not include registered honorary staff, affiliates, or individuals employed directly by other organisations but paid via the University payroll.
    </p>

    <p>Staff may apply to <strong>3 attractions per calendar year.</strong> Weekly Ticket Draws are exempt, and a user may enter draws as they wish until any one draw day.</p>

    <p>Ticket winners will be removed from further draws.</p>

    <p>Bookings are made via the MyCampus link to the Ferguson Bequest.</p>

    <p>Information for booking will be emailed to you when you apply.</p>

    <p>You must select the <strong>correct number of tickets</strong> required if applying for block attractions in advance without the information.</p>

    <p><strong>Please, please, only apply if you are able to attend.</strong> We cannot reallocate your ticket(s), and you <strong>may lose the chance</strong> to obtain further tickets.</p>

    <p>
        If you are unable to attend an attraction for any reason, please contact:
        <a href="mailto:fergusonbequest@glasgow.ac.uk">fergusonbequest@glasgow.ac.uk</a>.
        However, if the course has been reallocated then it may affect further tickets in the same calendar year.
    </p>

    <p>
        If, due to unforeseen circumstances, you are unable to attend a booked attraction, you may request further tickets for that attraction within the year.
    </p>

    <p>
        It is the responsibility of the member of staff to ensure that their details are correct and suitable at the point of any future booking.
    </p>

    <p>
        Tickets are non-transferable and cannot be passed on to another staff member or third party.
        Conduct breaches or behaviours that do not support appropriate staff conduct may affect the University’s aid or values.
    </p>

    <p>
        Tickets are non-refundable and cannot be used for admission to University-related events, University-owned goods and services.
    </p>

    <p>
        The University is in no way liable or responsible for site closures caused during visits, nor for attraction cancellations or closures.
    </p>

    <p>
        Staff are required to present their staff card and confirmation email, as well as any tickets, on the day.
        Failure to do so will result in entry being denied and loss of that attraction being applied.
    </p>

</div>

{% endblock %}